body{
  height: 100vh;
  display: flex;
  align-items: center;
  line-height: 1.4;
  background: url(../images/iceland-bg.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  font-family: sans-serif;
}

.container{
  width: percentage(1680 / 1920);
  margin: 0 auto;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
  // opacity: .5;
  z-index: 1;
}

.run{
  position: absolute;
  top: 10px;
  left: 10px;
  background: #eee;
  padding: 5px 15px;
}